html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  margin: 48px auto 0 auto;
  max-width: 800px;
}

.postImage {
  min-width: 100;
  height: 100;
  margin-top: 10;
  margin-left: 10;
  object-fit: "cover";
}
p {
  margin: 0;
}
p + p {
  margin-top: 10px;
}
